{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TodoList App</title>

   <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>

   <header class="header">
      <div class="container">
         <div class="header-logo">
            <a href="#" class="logo">@Todo</a>
         </div>
         <div class="header-quote">
            Hard work beats talent when talent doesn't work hard.
         </div>
         <div class="header-date">
            <span class="day-of-week">Sunday</span>
            <span class="date">May 7 - 2022</span>
         </div>
         {% comment %} <h4>{{ greeting }}</h4> {% endcomment %}
      </div>
   </header>

   <main class="main">
      <div class="container">

         <h1 hidden>TodoList App</h1>

         <form method="POST" action="{{ request.path }}">
            {% csrf_token %}

            {{ form }}

            {% comment %} {{ form.task }}
            {{ form.due_date }} {% endcomment %}

            <button type="submit" class="button button-primary">Add</button>
         </form>

         <br><br>

         {% comment %} <form action="" class="task-form">
            <input type="text" class="form-input" placeholder="New task">
            <button type="submit" class="button button-primary">Add</button>
         </form> {% endcomment %}

         <br><br>

         <ul class="task-list">

            {% for task in tasks %}
               <li class="task-list-item">
                  <div class="check">
                     <input type="checkbox" {% if task.completed %}checked{% endif %}>
                  </div>
                  <div class="content">
                     {{ task.task }}
                     <div class="due-date">
                        <i class="fa-regular fa-calendar"></i>
                        <span>{{ task.due_date }}</span>
                     </div>
                  </div>
                  <div class="options">
                     <a type="button" class="button button-edit" href="{% url 'edit-task' task.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                     </a>
                     <a type="button" class="button button-delete" href="{% url 'delete-task' task.id %}">
                        <i class="fa-regular fa-trash-can"></i>
                     </a>
                  </div>
               </li>
            {% endfor %}
            
         </ul>

      </div>
   </main>


   <script src="https://kit.fontawesome.com/e307a20384.js" crossorigin="anonymous"></script>
   
</body>
</html>